a {
  text-decoration: none; }

[type="button"],
[type="submit"] {
  outline: none;
  border: none;
  cursor: pointer; }

.wrapper {
  padding: 0 10%; }
  .wrapper--grey {
    background-color: #fcfcfc; }
  .wrapper--blue {
    background-color: #56ccf2; }
  .wrapper--relative {
    position: relative; }
    .wrapper--relative .wrapper__bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 866px;
      background: linear-gradient(114deg, #56ccf2 75%, #fcfcfc 70%); }
      @media screen and (max-width: 999px) {
        .wrapper--relative .wrapper__bg {
          height: 967px;
          background: #56ccf2; } }
  .wrapper--narrower {
    margin: 0 3%;
    padding: 0 6.58%; }
    @media screen and (max-width: 999px) {
      .wrapper--narrower {
        margin: 0;
        padding: 0 10%; } }
  .wrapper--left-side {
    padding-right: 0; }
    @media screen and (min-width: 1441px) {
      .wrapper--left-side {
        padding-right: 10%; } }
    @media screen and (max-width: 999px) {
      .wrapper--left-side {
        padding-right: 10%; } }

.header {
  position: relative;
  max-width: 1146px;
  margin: auto;
  padding: 1px 0; }
  .header__home {
    position: absolute;
    top: 48px;
    left: 0;
    font-size: 32px;
    font-weight: bold;
    line-height: 1;
    color: white;
    -webkit-transition: top 0.3s;
    transition: top 0.3s; }
  .header__menu {
    position: relative;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin: 25px auto 0; }
  .header__top {
    position: relative;
    max-width: 750px;
    margin-top: 85px;
    padding-left: 98px;
    color: white; }
  .header__title {
    font-size: 64px;
    font-weight: 900;
    -webkit-transition: font-size 0.5s;
    transition: font-size 0.5s; }
  .header__top-p {
    margin-top: 22px;
    margin-bottom: 42px;
    font-size: 24px;
    color: white;
    -webkit-transition: font-size 0.3s;
    transition: font-size 0.3s; }
  .header__button {
    padding: 16px 65px;
    font-weight: bold;
    color: #253757;
    border-radius: 33px;
    background-color: #fff;
    -webkit-transition: -webkit-box-shadow 0.3s;
    transition: -webkit-box-shadow 0.3s;
    transition: box-shadow 0.3s;
    transition: box-shadow 0.3s, -webkit-box-shadow 0.3s; }
    .header__button:hover {
      -webkit-box-shadow: 0 0 6px #fcc304;
              box-shadow: 0 0 6px #fcc304; }
  .header__picture {
    position: relative;
    width: 100%;
    height: 640px;
    margin-top: 80px;
    background: url("../images/slider/slide-img-1.jpg") no-repeat center;
    background-size: cover; }
  .header__slider {
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
  .header__soc {
    position: absolute;
    top: calc(50% - 197px);
    left: 107%;
    -webkit-transform-origin: left top;
            transform-origin: left top;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 12.6px;
    font-weight: 800;
    text-transform: uppercase;
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s; }
  .header__link {
    margin-right: 65px;
    padding: 10px;
    color: #253757; }
    .header__link--last {
      margin-right: 0; }
    .header__link::after {
      content: "";
      display: block;
      width: 1%;
      height: 4px;
      margin-left: -5%;
      margin-bottom: -4px;
      border-radius: 1px;
      -webkit-transition: background-color 0.6s, width 0.6s;
      transition: background-color 0.6s, width 0.6s; }
    .header__link:hover::after {
      width: 110%;
      background-color: #fcc304; }
  .header__pic-text {
    position: absolute;
    bottom: 86px;
    left: 98px;
    max-width: 264px;
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s; }
  .header__pic-h2 {
    font-size: 12.6px;
    font-weight: 800;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #56ccf2; }
  .header__pic-p {
    margin-top: 4px;
    font-size: 19.6px;
    font-weight: 900;
    text-transform: none;
    line-height: 1.4;
    color: #fff; }
  .header__bottom {
    max-width: 730px;
    margin: 160px auto; }
  .header__bottom-p {
    margin-top: 19px;
    font-size: 24px;
    font-weight: 600;
    color: #253757; }

@media screen and (max-width: 1100px) {
  .header__home {
    top: 80px; } }

@media screen and (max-width: 999px) {
  .header__home {
    top: 25px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0); }
  .header__menu {
    margin-top: 85px; }
  .header__top {
    padding-left: 0;
    text-align: center; }
  .header__title {
    font-size: 32px;
    line-height: 1.2; }
  .header__top_p {
    font-size: 16px; }
  .header__picture {
    height: 44.68vw; }
  .header__soc {
    top: 105%;
    left: 0;
    -webkit-transform: rotate(0);
            transform: rotate(0); }
  .header__link {
    margin-right: 10px;
    padding-left: 0; }
  .header__pic-text {
    left: 5%;
    bottom: 5%;
    -webkit-transform: scale(0.7);
            transform: scale(0.7); }
  .header__bottom {
    margin: 100px 0; }
  .header__bottom-p {
    font-size: 16px; } }

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .menu__item {
    display: block;
    margin-left: 63px;
    padding: 25px 0;
    font-weight: bold;
    color: white;
    -webkit-transition: color 0.3s;
    transition: color 0.3s; }
    .menu__item:hover {
      color: #fcc304; }
    .menu__item--first {
      margin-left: 0; }
    .menu__item--last {
      margin-left: 135px; }
      .menu__item--last::after {
        content: "";
        display: block;
        width: 110%;
        height: 4px;
        margin-left: -5%;
        border-radius: 1px;
        background: #fcc304; }
  .menu--black .menu__item {
    color: #253757;
    -webkit-transition: color 0.3s;
    transition: color 0.3s; }
    .menu--black .menu__item:hover {
      color: #56ccf2; }

@media screen and (max-width: 999px) {
  .menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .menu__item {
      margin-left: 0;
      padding: 10px 0; } }

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content; }
  .slider__button {
    width: 76px;
    height: 64px;
    -webkit-transition: -webkit-box-shadow 0.3s;
    transition: -webkit-box-shadow 0.3s;
    transition: box-shadow 0.3s;
    transition: box-shadow 0.3s, -webkit-box-shadow 0.3s; }
    .slider__button:hover {
      -webkit-box-shadow: 0 0 6px #253757;
              box-shadow: 0 0 6px #253757; }
    .slider__button--left {
      border-radius: 38px 0 0 38px;
      background: url("../images/slider/arrow-left.svg") no-repeat center, #fcc304; }
    .slider__button--right {
      border-radius: 0 38px 38px 0;
      background: url("../images/slider/arrow-right.svg") no-repeat center, #fcc304; }

@media screen and (max-width: 999px) {
  .slider__button {
    width: 38px;
    height: 32px;
    background-size: 10px; } }

.heading__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content; }

.heading__h2 {
  margin-left: 16px;
  font-weight: 800;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #56ccf2; }
  .heading__h2--white {
    color: white; }

.heading__h3 {
  margin-top: 21px;
  font-size: 32px;
  font-weight: 900;
  line-height: 1.4;
  color: #253757; }

@media screen and (max-width: 999px) {
  .heading {
    text-align: center; }
    .heading__top {
      margin-left: auto;
      margin-right: auto; }
    .heading__h3 {
      font-size: 24px; } }

.services {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1146px;
  margin: auto;
  padding: 80px 0; }
  .services__title {
    position: absolute;
    top: -24px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    font-size: 48px;
    font-weight: 900;
    white-space: nowrap;
    line-height: 1;
    color: #253757; }
  .services__card {
    margin-right: 15px; }

@media screen and (max-width: 999px) {
  .services {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .services__card {
      margin-right: 0;
      margin-bottom: 70px; } }

.card {
  width: 264px; }
  .card__img {
    width: 160px;
    height: 160px;
    margin-bottom: 64px;
    border-radius: 50%;
    -o-object-fit: cover;
       object-fit: cover; }
  .card__heading {
    margin-bottom: 32px;
    font-size: 19.6px;
    font-weight: 900;
    line-height: 1.4;
    color: #253757; }
  .card__p {
    color: #334563; }

@media screen and (max-width: 999px) {
  .card {
    text-align: center; }
    .card__img {
      margin-bottom: 30px; }
    .card__heading {
      margin-bottom: 22px; } }

.process {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1146px;
  margin: auto;
  padding-top: 80px; }
  .process__text {
    max-width: 362px;
    margin-right: 15px;
    color: #334563; }
  .process__heading {
    margin-bottom: 55px; }
  .process__cards {
    display: grid;
    grid-template-columns: 240px 240px;
    grid-gap: 110px 50px;
    font-size: 12.6px;
    color: #253757; }
  .process__card {
    position: relative;
    width: 240px;
    padding: 64px 33px 48px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    text-align: center;
    background-color: #fff;
    -webkit-box-shadow: 16px 16px 16px rgba(0, 0, 0, 0.02);
            box-shadow: 16px 16px 16px rgba(0, 0, 0, 0.02); }
    .process__card--col1 {
      top: 140px; }
    .process__card--col2 {
      top: 40px; }
  .process__num {
    position: relative;
    font-size: 40px;
    font-weight: 900;
    color: #56ccf2; }
    .process__num::before {
      content: "";
      position: absolute;
      top: -15px;
      left: calc(50% - 24px);
      display: block;
      width: 48px;
      height: 48px;
      background-color: #56ccf2;
      border-radius: 50%;
      opacity: 0.1; }
    .process__num--2 {
      color: #fdcd2e; }
      .process__num--2::before {
        background-color: #fdcd2e; }
    .process__num--3 {
      color: #14d84d; }
      .process__num--3::before {
        background-color: #14d84d; }
    .process__num--4 {
      color: #f2696a; }
      .process__num--4::before {
        background-color: #f2696a; }

@media screen and (max-width: 999px) {
  .process {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .process__text {
      margin-right: 0;
      text-align: center; }
    .process__cards {
      grid-template-columns: 240px;
      grid-gap: 20px; }
    .process__card--col1 {
      top: 20px; }
    .process__card--col2 {
      top: 20px; } }

.point {
  display: grid;
  grid-template-columns: repeat(4, 3px);
  grid-gap: 3px; }
  .point__item {
    width: 3px;
    height: 3px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border: 1px solid #56ccf2;
    border-radius: 50%; }
    .point__item--white {
      border-color: white; }

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  background-color: #56ccf2; }
  .features__text {
    padding-top: 190px;
    padding-bottom: 160px;
    max-width: 362px; }
  .features__line {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 65px; }
  .features__point {
    width: 64px;
    height: 64px;
    margin-right: 30px;
    background: url("../images/features/features-item-icon-1.svg") no-repeat center;
    background-color: #fff;
    border-radius: 50%; }
    .features__point--2 {
      background: url("../images/features/features-item-icon-2.svg") no-repeat center; }
    .features__point--3 {
      background: url("../images/features/features-item-icon-3.svg") no-repeat center; }
  .features__p {
    width: 263px;
    color: white; }
  .features__pic {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    background: linear-gradient(110deg, #56ccf2 35%, transparent 35% 78%, #56ccf2 78%), url("../images/features/features-bg.jpg") no-repeat;
    background-size: cover; }

@media screen and (min-width: 1441px) {
  .features {
    max-width: 1146px; } }

@media screen and (max-width: 999px) {
  .features {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .features__text {
      padding-top: 100px;
      padding-bottom: 100px; }
    .features__line {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      text-align: center; }
    .features__point {
      margin-right: 0;
      margin-bottom: 20px; }
    .features__pic {
      display: none; } }

.testimonials {
  max-width: 1146px;
  height: 688px;
  margin: 0 auto;
  padding-top: 160px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  .testimonials__heading {
    max-width: 362px; }
  .testimonials__cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 86px; }
  .testimonials__card {
    margin-right: 15px; }

@media screen and (max-width: 999px) {
  .testimonials {
    height: 1500px;
    padding-top: 100px; }
    .testimonials__heading {
      margin-left: auto;
      margin-right: auto; }
    .testimonials__cards {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      margin-top: 40px; }
    .testimonials__card {
      margin-right: 0;
      margin-bottom: 35px; } }

.te-card {
  position: relative;
  z-index: 1;
  width: 314px;
  padding: 95px 32px 58px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  background-color: #fefefe;
  -webkit-box-shadow: 16px 16px 32px rgba(0, 0, 0, 0.05);
          box-shadow: 16px 16px 32px rgba(0, 0, 0, 0.05); }
  .te-card__decor {
    position: absolute;
    top: 37px;
    left: 40%;
    width: 65px;
    height: 160px;
    -webkit-transform: rotate(22deg);
            transform: rotate(22deg);
    border-radius: 50% / 20%;
    background: #56ccf2 -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0)));
    background: #56ccf2 linear-gradient(180deg, rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0)); }
  .te-card__photo {
    width: 65px;
    height: 130px;
    margin: 0 auto 10px;
    -webkit-transform: rotate(-22deg);
            transform: rotate(-22deg);
    border-radius: 50% / 20%;
    overflow: hidden; }
  .te-card__img {
    height: 140%;
    -webkit-transform: rotate(22deg) translate(-35px, 0) scaleX(-1);
            transform: rotate(22deg) translate(-35px, 0) scaleX(-1); }
    .te-card__img--2 {
      -webkit-transform: rotate(22deg) translate(-110px, 30px) scaleX(-1);
              transform: rotate(22deg) translate(-110px, 30px) scaleX(-1); }
    .te-card__img--3 {
      height: 110%;
      -webkit-transform: rotate(22deg) translate(-70px, 30px) scaleX(-1);
              transform: rotate(22deg) translate(-70px, 30px) scaleX(-1); }
  .te-card__p {
    font-size: 14.4px;
    font-style: italic;
    color: #253757; }
    .te-card__p::after {
      content: "";
      display: block;
      width: 64px;
      height: 2px;
      margin: 31px auto 0;
      border-radius: 1px;
      background-color: #56ccf2; }
  .te-card__name {
    margin-top: 31px;
    font-size: 12.6px;
    font-weight: bold;
    color: #152032; }
  .te-card__position {
    font-size: 12.6px;
    font-weight: 800;
    letter-spacing: 2px;
    color: #56ccf2; }
  .te-card--yellow .te-card__decor {
    background: #fcc304 -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0)));
    background: #fcc304 linear-gradient(180deg, rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0)); }
  .te-card--yellow .te-card__p::after {
    background-color: #fcc304; }
  .te-card--yellow .te-card__position {
    color: #fcc304; }
  .te-card--red .te-card__decor {
    background: #f25656 -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0)));
    background: #f25656 linear-gradient(180deg, rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0)); }
  .te-card--red .te-card__p::after {
    background-color: #f25656; }
  .te-card--red .te-card__position {
    color: #f25656; }

.apply {
  position: relative;
  padding: 320px 10% 255px;
  text-align: center;
  background-color: #fcfcfc; }
  .apply__h2 {
    position: relative;
    font-size: 48px;
    font-weight: 900;
    line-height: 1;
    color: #253757; }
  .apply__p {
    position: relative;
    max-width: 754px;
    margin: 57px auto 55px;
    font-size: 24px;
    font-weight: 600;
    color: #334563; }
  .apply__button {
    position: relative;
    padding: 16px 88px;
    border-radius: 28px;
    background-color: #2f80ed;
    font-weight: bold;
    letter-spacing: 1px;
    color: white;
    -webkit-transition: -webkit-box-shadow 0.3s;
    transition: -webkit-box-shadow 0.3s;
    transition: box-shadow 0.3s;
    transition: box-shadow 0.3s, -webkit-box-shadow 0.3s; }
    .apply__button:hover {
      -webkit-box-shadow: 0 0 6px #56ccf2;
              box-shadow: 0 0 6px #56ccf2; }
  @media screen and (max-width: 999px) {
    .apply__h2 {
      font-size: 32px; }
    .apply__p {
      font-size: 20px; } }

.oval {
  position: absolute;
  -webkit-transform: rotate(20deg);
          transform: rotate(20deg);
  border-radius: 50% / 20%; }
  .oval::after {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    border-radius: 50% / 20%;
    background-color: #fcfcfc; }
  .oval--green {
    background-image: -webkit-gradient(linear, left bottom, right top, from(rgba(148, 229, 173, 0.4)), to(#94e5ad));
    background-image: linear-gradient(to right top, rgba(148, 229, 173, 0.4), #94e5ad); }
  .oval--purple {
    background-image: -webkit-gradient(linear, left bottom, right top, from(rgba(220, 141, 247, 0.4)), to(#dc8df7));
    background-image: linear-gradient(to right top, rgba(220, 141, 247, 0.4), #dc8df7); }
  .oval--yellow {
    background-image: -webkit-gradient(linear, left bottom, right top, from(rgba(249, 227, 154, 0.4)), to(#f9e39a));
    background-image: linear-gradient(to right top, rgba(249, 227, 154, 0.4), #f9e39a); }
  .oval--blue {
    background-image: -webkit-gradient(linear, left bottom, right top, from(rgba(177, 227, 244, 0.4)), to(#b1e3f4));
    background-image: linear-gradient(to right top, rgba(177, 227, 244, 0.4), #b1e3f4); }
  .oval--orange {
    background-image: -webkit-gradient(linear, left bottom, right top, from(rgba(240, 183, 184, 0.4)), to(#f0b7b8));
    background-image: linear-gradient(to right top, rgba(240, 183, 184, 0.4), #f0b7b8); }
  .oval--1 {
    top: 54%;
    left: 16%;
    width: 56px;
    height: 143px; }
    .oval--1::after {
      width: 46px;
      height: 133px; }
  .oval--2 {
    top: 34%;
    right: 14%;
    width: 56px;
    height: 143px; }
    .oval--2::after {
      width: 46px;
      height: 133px; }
  .oval--3 {
    top: 47%;
    right: 4%;
    width: 33px;
    height: 85px; }
    .oval--3::after {
      width: 23px;
      height: 75px; }
  .oval--4 {
    top: 69%;
    left: 32%;
    width: 18px;
    height: 45px; }
    .oval--4::after {
      width: 8px;
      height: 35px; }
  .oval--5 {
    top: 25%;
    left: 29%;
    width: 18px;
    height: 45px; }
    .oval--5::after {
      width: 8px;
      height: 35px; }
  .oval--6 {
    top: 85%;
    left: 11%;
    width: 33px;
    height: 85px; }
    .oval--6::after {
      width: 23px;
      height: 75px; }
  .oval--7 {
    top: 24%;
    right: 6%;
    width: 18px;
    height: 45px; }
    .oval--7::after {
      width: 8px;
      height: 35px; }
  .oval--8 {
    top: 80%;
    right: 37%;
    width: 18px;
    height: 45px; }
    .oval--8::after {
      width: 8px;
      height: 35px; }
  .oval--9 {
    top: 64%;
    right: 25%;
    width: 33px;
    height: 85px; }
    .oval--9::after {
      width: 23px;
      height: 75px; }
  .oval--10 {
    top: 26%;
    left: 18%;
    width: 33px;
    height: 85px; }
    .oval--10::after {
      width: 23px;
      height: 75px; }
  .oval--11 {
    top: 64%;
    left: 5%;
    width: 26px;
    height: 67px; }
    .oval--11::after {
      width: 16px;
      height: 57px; }
  .oval--12 {
    top: 78%;
    right: 14%;
    width: 56px;
    height: 143px; }
    .oval--12::after {
      width: 46px;
      height: 133px; }

.commun {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1146px;
  margin: 0 auto; }
  .commun__form {
    width: 500px; }
  .commun__heading {
    margin-bottom: 104px; }
  .commun__input {
    display: block;
    width: 100%;
    margin-top: 48px;
    padding: 18px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-size: 14.4px;
    font-weight: bold;
    color: #152032;
    border: none;
    outline: none;
    border-bottom: 1px solid #e1e1e1;
    background-color: #fcfcfc; }
    .commun__input::-webkit-input-placeholder {
      font-size: 14.4px;
      font-weight: bold;
      color: #152032; }
    .commun__input::-moz-placeholder {
      font-size: 14.4px;
      font-weight: bold;
      color: #152032; }
    .commun__input:-ms-input-placeholder {
      font-size: 14.4px;
      font-weight: bold;
      color: #152032; }
    .commun__input::-ms-input-placeholder {
      font-size: 14.4px;
      font-weight: bold;
      color: #152032; }
    .commun__input::placeholder {
      font-size: 14.4px;
      font-weight: bold;
      color: #152032; }
  .commun__button {
    margin-top: 105px;
    padding: 16px 92px;
    font-weight: bold;
    color: white;
    border-radius: 28px;
    background-color: #2f80ed;
    -webkit-transition: -webkit-box-shadow 0.3s;
    transition: -webkit-box-shadow 0.3s;
    transition: box-shadow 0.3s;
    transition: box-shadow 0.3s, -webkit-box-shadow 0.3s; }
    .commun__button:hover {
      -webkit-box-shadow: 0 0 6px #56ccf2;
              box-shadow: 0 0 6px #56ccf2; }
  .commun__contacts {
    max-width: 362px;
    margin-left: 15px; }
  .commun__p {
    margin-top: 42px;
    font-size: 12.6px;
    font-weight: 800;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #334563; }
  .commun__link {
    font-size: 24px;
    font-weight: 900;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #56ccf2; }
  .commun__soc {
    margin-top: 53px; }

@media screen and (max-width: 999px) {
  .commun {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .commun__form {
      width: 100%;
      text-align: center; }
    .commun__heading {
      margin-bottom: 40px; }
    .commun__input {
      margin-top: 30px; }
    .commun__button {
      margin-top: 40px; }
    .commun__contacts {
      max-width: 500px;
      margin-top: 90px;
      margin-left: 0;
      text-align: center; }
    .commun__soc {
      margin-left: auto;
      margin-right: auto; } }

.soc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 192px; }
  .soc__item {
    width: 32px;
    height: 32px;
    -webkit-transition: -webkit-box-shadow 0.3s;
    transition: -webkit-box-shadow 0.3s;
    transition: box-shadow 0.3s;
    transition: box-shadow 0.3s, -webkit-box-shadow 0.3s; }
    .soc__item:hover {
      -webkit-box-shadow: 0 0 6px #253757;
              box-shadow: 0 0 6px #253757; }
    .soc__item--tw {
      background: url("../images/social/twitter.png") no-repeat;
      background-size: cover; }
    .soc__item--inst {
      background: url("../images/social/insagram.png") no-repeat;
      background-size: cover; }
    .soc__item--fb {
      background: url("../images/social/facebook.png") no-repeat;
      background-size: cover; }

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1146px;
  margin: 0 auto;
  padding: 100px 0 10px;
  font-weight: bold;
  color: #253757; }
  @media screen and (max-width: 999px) {
    .footer {
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
          -ms-flex-direction: column-reverse;
              flex-direction: column-reverse;
      padding: 40px; }
      .footer__copyright {
        margin-top: 40px; } }

html {
  font-family: Muli, sans-serif;
  font-size: 16px; }

body {
  line-height: 1.5; }

/*# sourceMappingURL=main.css.map */
